@import 'C:/Electronics/CXCOMM190500P_10-70004140/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import 'C:/Electronics/CXCOMM190500P_10-70004140/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

@import "../support/_bulkedit-variables.scss";

.bulkedit{
	
	&-attr {
		padding-top: $bulkedit__attribute-row--padding-top;
		margin: 0;
		display: table;
		width: 100%;
		overflow: hidden;

		&-cnt {
			-ms-flex: 1 1 auto;
			-moz-box-flex: 1 1 auto;
			-webkit-flex: 1 1 auto;
			-webkit-box-flex: 1 1 auto;
			flex: 1 1 auto;
    		overflow: auto;
    		margin: $bulkedit__attribute-cnt--margin;
    		padding: $bulkedit__attribute-cnt--padding;

    		body.ie & {
    			min-height: $bulkedit__content-attributes--min-height;
    			max-height: $bulkedit__content-attributes--max-height;

    			@media screen and (min-height: $bulkedit__bp-m--min-height){
    				max-height: $bulkedit__content-attributes-bp-m--max-height;
    			}
    		}
		}

		&-name {
			min-width: $bulkedit__attribute-name--min-width;
		    padding-right: $bulkedit__attribute-name--padding-right;
		    display: table-cell;
		    vertical-align: top;
		    padding-top: $bulkedit__attribute-name--padding-top;
		}
		&-value {
			display: table-cell;
			position: relative;
			width: 100%;
			
			.ye-validation-panel,
			.yw-loceditor-fixed-closed .yw-loceditor-caption,
			.yw-loceditor-fixed-open .yw-loceditor-caption{
				margin-top: $bulkedit__attribute-icon-panel--margin-top;
				position: absolute;
				right: 0;
			}
			> .z-div:last-child {
				padding-bottom: $bulkedit__attribute-value-container--padding-bottom;
			}
		}
		&-clear-switch {
			min-width: $bulkedit__attribute-clear--width;
			padding-left:  $bulkedit__attribute-clear--padding-left;
			display: table-cell;
			vertical-align: top;

			.ye-switch-checkbox.z-checkbox input:checked + label:before {
				background: $bulkedit__attribute-clear-switch-checked--bg-color;
				border-color: $bulkedit__attribute-clear-switch-checked--border-color;
			}
		}
	}

	&-validate-all-attributes {
		&-cnt {
			-ms-flex: 0;
			-moz-box-flex: 0;
			-webkit-flex: 0;
			-webkit-box-flex: 0;
			flex: 0;
    		margin: $bulkedit__validate-all-attributes--margin;
    		padding: $bulkedit__validate-all-attributes--padding;
    		box-sizing: border-box;
    		border-top: $bulkedit__validate-all-attributes--border-top;

    		body.ie & {
    			height: $bulkedit__validate-all-attributes-bp-m--min-height;
    			min-height: $bulkedit__validate-all-attributes-bp-m--min-height;
    			overflow: hidden;
    			white-space: nowrap;

    			&:empty {
    				height: 0;
    				min-height: 0;
    			}
    		}
		}

		&-switch label {
			padding-right: 10px;
		}

		&-help-icon {
			margin: 0;
		}

		&-popup .z-popup-content {
			margin: 10px;
			width: 350px;
		}
	}

	&-content {
		.yw-modal-configurableFlow &.yw-wizard-content {
			display: -webkit-box;
  			display: -moz-box;
  			display: -ms-flexbox;
  			display: -webkit-flex;
  			display: flex;
			-ms-flex-direction: column;
			-webkit-flex-direction: column;
			flex-direction: column;
			overflow: hidden;
			padding-top: 0;
			padding-bottom: 0;

			body.ie & {
				min-height: $bulkedit__content--min-height;
        		max-height: $bulkedit__content--max-height;
				
				@media screen and (min-height: $bulkedit__bp-m--min-height){
					max-height: calc(100vh - 300px);
				}
			}
		}
	}

}

