@import 'C:/Electronics/CXCOMM190500P_10-70004140/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import 'C:/Electronics/CXCOMM190500P_10-70004140/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

@import "../support/_excel-validation-variables.scss";

.yw-excel-validation-result {
	&-container {
		.z-listitem{
			border-top: $excel-validation__result-list-item--border;
			.z-listcell-content {
				padding-left: $excel-validation__result-list-item--padding-x;
				padding-right: $excel-validation__result-list-item--padding-x;
			}

			&:hover {
				background-color: $blue__light;
			}
			&:first-child {
				border-top-width: 0;
			}
		}
		&,
		.z-listbox {
			border-color: $excel-validation__result-list--border-color;
		}
		.z-listbox {
			max-height: 500px;
			overflow-y: auto;
		}
		.yw-modal-configurableFlow .yw-wizard-content > & {
			margin: $excel-validation__configurable-flow-result-container--margin;
			border-width: 0;

			.z-listbox {
				border-width: nth($excel-validation__result-list-item--border, 1) 0 0;
			}
		}
	}

  	&-report {
	  background-color: $excel-validation__result-report--bg-color;
	  color: $excel-validation__result-report--color;
	  display: $excel-validation__result-report--display;
	  font-weight: $excel-validation__result-report--font-weight;
	  margin: $excel-validation__result-report--margin;

	  &:hover, &:focus {
		background-color: $excel-validation__result-report-hover--bg-color;
		color: $excel-validation__result-report--color;
	  }
	}

	&-subtitle {
		font-weight: $excel-validation__result-subtitle--font-weight;
		font-size: $excel-validation__result-subtitle--font-size;
		color: $excel-validation__result-subtitle--color;

		&-container {
			padding: $excel-validation__result-subtitle-container--padding;
			position: relative;
		}

		&:after {
			background: $excel-validation__result-subtitle-icon--bg;
			height: $excel-validation__result-subtitle-icon--size;
			width: $excel-validation__result-subtitle-icon--size;
			right: $excel-validation__result-subtitle-icon--right;
			position: absolute;
			content: "";
		}
	}

	&-row-header {
		padding-right: $excel-validation__result-list-header--padding-right;
		position: relative;

		.y-show-details-btn-expanded,
		.y-show-details-btn {
			width: $excel-validation__toggle-icon--size;
			height: $excel-validation__toggle-icon--size;
			margin-top: $excel-validation__toggle-icon--margin-top;
			margin-right: $excel-validation__toggle-icon--margin-right;
			position: absolute;
			top: 50%;
			right: 0;


			&:after {
				color: $excel-validation__toggle-icon--color;
				font-size: $excel-validation__toggle-icon--line-height;
				line-height: $excel-validation__toggle-icon--size;
				font-family: $excel-validation__toggle-icon--font;
				content:  $excel-validation__toggle-icon--content;
				width: $excel-validation__toggle-icon--size;
				text-align: center;
			}
		}

		.y-show-details-btn-expanded:after {
			content: $excel-validation__toggle-expanded-icon-content;
		}

		&-title {
			font-weight: $excel-validation__result-list-title--font-weight;
			font-size: $excel-validation__result-list-title--font-size;
			display: block;
		}
		&-subtitle {
			font-size: $excel-validation__result-list-subtitle--font-size;
			display: block;
		}
	}

	&-row-details {
		padding-top: $excel-validation__result-list-details--padding-top;
		height: 100%;
		width: 100%;

		ul {
			padding: 0;
		}

		&-cell {
			list-style: none;
			margin-top: $excel-validation__result-list-details-cell--margin-top;

			span.z-label {
				font-size: $excel-validation__result-list-details--font-size;
				white-space: normal;
				word-break: break-all;
			}
			span.z-label.yw-excel-validation-result-row-details-cell-column-header {
				font-weight: $excel-validation__result-list-details-header--font-weight;

			  $severities: info $excel-validation__result-list-details-header-info--color, warn $excel-validation__result-list-details-header-warn--color, error $excel-validation__result-list-details-header-error--color;
			  @each $kvp in $severities {
				&-#{nth($kvp, 1)} {
				  color: nth($kvp, 2);
				}
			  }

			}
		}
	}

}